
@{
    ViewBag.Title = "Index";
}

<style>
    /* FANCY COLLAPSE PANEL STYLES */
    .fancy-collapse-panel .panel-default > .panel-heading {
        padding: 0;
    }

    .fancy-collapse-panel .panel-heading a {
        padding: 12px 35px 12px 15px;
        display: inline-block;
        width: 100%;
        background-color: #55cfee;
        color: #ffffff;
        position: relative;
        text-decoration: none;
    }

        .fancy-collapse-panel .panel-heading a:after {
            font-family: "FontAwesome";
            content: "\f147";
            position: absolute;
            right: 20px;
            font-size: 20px;
            font-weight: 400;
            top: 50%;
            line-height: 1;
            margin-top: -10px;
        }

        .fancy-collapse-panel .panel-heading a.collapsed:after {
            content: "\f196";
        }

    .col-lg-4 {
        text-align: center;
        padding: 16px 16px;
    }

        .col-lg-4 h4 {
            font-weight: 700;
            color: cadetblue;
        }

        .col-lg-4 small {
            color: #808080;
        }

        .col-lg-4 strong {
            color: #5f5f5f;
        }
</style>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right  ">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- NAVBAR CODE END -->
<div class="container" style="margin-top:125px;">

    <div class="row">
        <div class="col-md-12">
            <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Doctors Testimonials
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div style="background-color:#f3f3f3;height:490px;overflow-x:auto">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <img src="http://www.innovationskinclinic.com/images/Dr-Luca-Borradori%20.jpg" style="border-radius:50%;border:1px solid #b3b3b3" />
                                            <div style="border-radius:10px;height:307px;border:1px solid #b3b3b3;margin-top: -34px;">
                                                <h4 style="margin-top:44px">Dr. Luca Borradori</h4>
                                                <small>Director Department of Dermatology Inselspital,University Hospital,Bern Switzerland.</small>
                                                <blockquote>
                                                    <strong>
                                                        Dermatology is the branch of medicine dealing with the skin, nails, hair and its diseases. It is a specialty with both medical and surgical aspects. A dermatologist is a doctor that treats diseases, in the widest sense, and some cosmetic problems of the skin, scalp, hair, and nails. Wikipedia
                                                        <br />
                                                        <a data-toggle="modal" data-target="#myModal">Read More</a>
                                                    </strong>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="http://www.innovationskinclinic.com/images/Dr-Alaka-Deshpande%20.jpg" style="border-radius:50%;border:1px solid #b3b3b3" />
                                            <div style="border-radius:10px;height:307px;border:1px solid #b3b3b3;margin-top: -34px;">
                                                <h4 style="margin-top:44px">Padmashree Dr. Alaka Deshpande</h4>
                                                <small>Prof & Head of Department of Internal Medicine,Sir J J Hospital,Byculla, Mumbai.</small>
                                                <blockquote>
                                                    <strong>
                                                        Dermatology is the branch of medicine dealing with the skin, nails, hair and its diseases. It is a specialty with both medical and surgical aspects. A dermatologist is a doctor that treats diseases, in the widest sense, and some cosmetic problems of the skin, scalp, hair, and nails. Wikipedia
                                                    </strong>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="http://www.innovationskinclinic.com/images/Dr-Hemangi-Jerajani%20.jpg" style="border-radius:50%;border:1px solid #b3b3b3" />
                                            <div style="border-radius:10px;height:307px;border:1px solid #b3b3b3;margin-top: -34px;">
                                                <h4 style="margin-top:44px">Dr. Hemangi Jerajani</h4>
                                                <small>professor & Head, Dermatology MGM Medical College & Hospital</small>
                                                <blockquote>
                                                    <strong>
                                                        Dermatology is the branch of medicine dealing with the skin, nails, hair and its diseases. It is a specialty with both medical and surgical aspects. A dermatologist is a doctor that treats diseases, in the widest sense, and some cosmetic problems of the skin, scalp, hair, and nails. Wikipedia
                                                    </strong>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="text-align:center">
                                        <button class="btn btn-lg">&#9658;</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Testimonials
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONATINER END -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div style="margin-top: 150px;text-align:center;background-color:transparent;position: relative;">
            <div class="modal-header" style="background-color:transparent;border-bottom: 0px solid #e5e5e5;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="col-lg-12">
                    <img src="http://www.innovationskinclinic.com/images/Dr-Luca-Borradori%20.jpg" style="border-radius:50%;border:1px solid #b3b3b3" />
                    <div style="border-radius:10px;height:307px;border:1px solid #b3b3b3;margin-top: -34px;background-color:#fff">
                        <h4 style="margin-top:44px">Dr. Luca Borradori</h4>
                        <small>Director Department of Dermatology Inselspital,University Hospital,Bern Switzerland.</small>
                        <blockquote>
                            <strong>
                                Dermatology is the branch of medicine dealing with the skin, nails, hair and its diseases. It is a specialty with both medical and surgical aspects. A dermatologist is a doctor that treats diseases, in the widest sense, and some cosmetic problems of the skin, scalp, hair, and nails. Wikipedia
                                <br />
                                
                            </strong>
                        </blockquote>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>