
@{
    ViewBag.Title = "Dr. Swagata Tambe";
}
<style>
    .spliter {
        background-color: #ffd800;
        width: 35%;
        height: 4px;
        box-shadow: 0px 8px 12px #333;
        margin-bottom: 25px;
    }
    .zoom {


  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top:158px;">
            <p>
                <h1 style="color:#333">Dr. Swagata Tambe</h1>
                <stong style="color:#3d3d3d;text-align:center">M.B.B.S</stong>
            </p>
           <div class="spliter"></div>
            <br />
            <div class="col-lg-4" style="overflow: hidden; border-radius: 50%;">
                <img width="350" height="350" src="http://www.drmarwah.com/wp-content/uploads/2018/09/marwah.jpg" class="zoom" alt="Dr Harvinder Singh Marwah" srcset="http://www.drmarwah.com/wp-content/uploads/2018/09/marwah.jpg 350w, http://www.drmarwah.com/wp-content/uploads/2018/09/marwah-150x150.jpg 150w, http://www.drmarwah.com/wp-content/uploads/2018/09/marwah-300x300.jpg 300w" sizes="(max-width: 350px) 100vw, 350px" style="border-radius: 50%;">
             
                <h3 style="color:#3d3d3d;text-align:center">Title</h3>
            </div>
            <div class="col-lg-8">
              
                <p  style="text-align: justify;">Dr Harvinder Singh Marwah is a practising Dermatologist with a clinical experience of about 30 years. Apart from seeing routine patients for conditions of the skin, hair nail, we are pioneers in laser surgery in India. Our&nbsp;clinic also has specialized services like Follicular Unit Hair transplant surgery (FUT), Botox, Fillers for wrinkles, Punch grafting for Leucoderma, Electrosurgery, Cryosurgery, Radio-frequency and Chemical peels. We have US FDA approved lasers in our centers which include Light Sheer Diode laser for hair removal, a Medlite C6 and Medlite C3, Q-switched Nd-Yag lasers for tattoo removal, laser facial and Nevus of Ota, and the VTRAC laser Excimer laser for Vitiligo and Psoriasis, Gentle Yag laser, Cool sculpting, Thermage, E-Two, Revlite, Sublime laser. Our Clinic is well known throughout the country.</p>
                <p>&nbsp;</p>
                <p  style="text-align: justify;">Dr Marwah has given guest lectures, conducted Continuing Medical Education programs and workshops both at the State and National levels. Apart from giving lectures, Dr Marwah has also conducted live surgeries at these workshops. He has received the best paper award for his presentations at the state level, three times in a row. He has also co-authored a book titled ‘Surgery in Dermatology’. It is one of the reference books in all medical colleges throughout the country. He has also authored three chapters in ‘Hand book&nbsp;in Skin Surgery’ released in February 2006.</p>
                <p>&nbsp;</p>
                <p  style="text-align: justify;">Dr Marwah’s Clinic is a state of art Skin and Laser Centre in Andheri West, a prominent western suburb in Mumbai. The centre has an area of about 1500 square feet. It is well-equipped with the latest instruments and offers all facilities for skin care under one roof. We also a similar high tech Skin and Laser Clinic in Oshiwara. We have a highly qualified, intelligent, aspiring and enthusiastic team of Colleague Dermatologists, and highly trained and experienced Technicians.</p>

            </div>
        </div>
    </div>
</div>
    